/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, main, #contenedor_footer {
  max-width: 1100px;
  margin: auto; }

/*header y main*/
header ul, main ul {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  top: 40px;
  right: 0px; }

header h1, main h1 {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  letter-spacing: -1px; }
  header h1.semana, main h1.semana {
    padding-bottom: 5px; }

header h2, main h2 {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 1.1; }
  header h2.recetas, main h2.recetas {
    font-weight: 700; }

header h3, main h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  background-color: black;
  padding: 7px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  max-width: max-content;
  margin: auto;
  position: relative;
  top: -18px;
  right: 0px; }

header h4, main h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-bottom: 10px; }

header p, main p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 1.45; }
  header p span, main p span {
    font-weight: 700; }
  header p.servicios, main p.servicios {
    margin-top: 0px; }
  header p.ultimo, main p.ultimo {
    padding-bottom: 30px; }
  header p.semana, main p.semana {
    font-size: 17px;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 0px; }
  header p.coccion, main p.coccion {
    border-bottom: 1px solid #dadada;
    max-width: fit-content;
    padding-bottom: 5px; }
  header p.texto_coccion, main p.texto_coccion {
    padding-top: 20px; }
    header p.texto_coccion span, main p.texto_coccion span {
      font-weight: 700; }

#texto_home {
  padding-left: 40px; }

#solofilete {
  border-bottom: 1px solid #acacac;
  max-width: 1260px; }

#contenedor_home {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px; }

#contenedor_servicios {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  gap: 40px; }

#contenedor_recetas {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #acacac;
  max-width: 1260px;
  padding-bottom: 100px;
  padding-top: 30px; }

/*formulario*/
#contenedor_formulario {
  background-color: #dadada;
  padding: 15px;
  margin-bottom: 70px; }
  #contenedor_formulario p.formulario {
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif; }
  #contenedor_formulario p.formulario2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    font-weight: bold;
    height: 15px;
    padding: 5px;
    text-align: center; }

#nombre, #email, #telefono, #consulta {
  background-color: #fff;
  margin: 15px;
  height: 30px;
  padding: 8px; }

#consulta {
  height: 150px; }

#btn_formulario {
  background-color: #e4e4e4;
  margin: auto;
  border: 1px solid #dadada;
  max-width: fit-content; }

#texto_receta1, #texto_receta2, #texto_receta3 {
  padding-left: 40px; }

#local {
  padding-bottom: 30px; }

/*footer*/
#contenedor_footer {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 50px;
  justify-content: center;
  border-top: 1px solid #dadada;
  padding-top: 20px;
  padding-bottom: 20px; }
  #contenedor_footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    text-align: center; }
  #contenedor_footer h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #595858;
    text-align: center; }
    #contenedor_footer h6 span {
      font-weight: 700; }
  #contenedor_footer a {
    color: black;
    text-decoration: none; }

@media screen and (max-width: 678px) {
  #contenedor_home, #contenedor_servicios, #contenedor_recetas {
    flex-direction: column; }
  #texto_home {
    padding: 20px 15px; }
  img {
    width: 100%; }
  h1 {
    font-size: 35px;
    padding-bottom: 20px;
    line-height: 1.1; }
  h2 {
    font-size: 28px; }
  p.semana {
    padding-bottom: 30px; }
  p.texto_coccion {
    padding: 0px; }
  p.servicios {
    margin: 0px 5px 40px 15px; }
  #texto_receta1, #texto_receta2, #texto_receta3, div#local {
    padding: 25px 15px 0px 15px; }
  div#contenedor_recetas {
    padding: 0px 0px 80px; }
  #contenedor_footer {
    display: grid;
    grid-template-columns: none;
    gap: 0px;
    justify-content: center; } }

@media screen and (max-width: 500px) {
  h1 {
    padding-bottom: 10px; }
  h2 {
    font-size: 25px; }
  h3 {
    padding: 3px 15px;
    max-width: none;
    text-align: left;
    position: static; }
  h5, h6 {
    text-align: left; }
  #contenedor_footer {
    margin: 0px 15px; } }
