/*reset*/

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


 @import "utilidades/variables";
 @import "utilidades/mixin.scss";
 @import "utilidades/extend.scss";


/*header y main*/ 

header, main{
    @extend %header_main;
    ul {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        position: absolute;
        top: 40px;
        right: 0px; 
    }
    h1{
        @include h1;
        &.semana{
            padding-bottom: 5px;
        }
    }
    h2{
        @include h2;
        &.recetas{
        font-weight:700;
        }
    }
    h3{
        @include h3;
    }
    
    
    h4 {
        @include h4;
    }
    
    p {
        font-family:$tipografia_p; 
        font-size: 15px; 
        line-height: 1.45; 
        span{
            font-weight: 700;
            }
        &.servicios {
            margin-top: 0px;
            }
        &.ultimo{
            padding-bottom: 30px;
        }
        &.semana{
            font-size: 17px;
            text-align: center;
            padding-bottom:50px;
            margin-bottom:0px;
            }
        &.coccion{
            @include filete_gris;
            padding-bottom: 5px;
            }
        &.texto_coccion{
            padding-top: 20px;
                span{
                font-weight: 700;}
            }
    }
}


#texto_home{
    padding-left: 40px;
}

#solofilete{
    @include filete_negro ;
}

#contenedor_home{
    @include contenedores;
    padding-bottom: 40px;
}

#contenedor_servicios{
    @include contenedores;
    padding-bottom: 40px;
    gap: 40px;
}

#contenedor_recetas{
    @include contenedores;
    @include filete_negro;
    padding-bottom: 100px;
    padding-top: 30px; 
}

/*formulario*/

#contenedor_formulario{
    background-color: $color_grispleno;
    padding: 15px;
    margin-bottom: 70px;
    p {
        &.formulario{
        font-size: 15px;
        font-family: $tipografia_p;}
        &.formulario2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #b7b7b7;
        font-weight: bold;
        height: 15px;
        padding: 5px;
        text-align: center;
        }
    }
}

#nombre, #email, #telefono, #consulta{
    background-color: #fff;
    margin: 15px;
    height:30px;
    padding: 8px;
}

#consulta{height:150px;
}


#btn_formulario{
    @include boton;
}


#texto_receta1, #texto_receta2, #texto_receta3{
    padding-left: 40px;
}

#local{
    padding-bottom: 30px;
}

/*footer*/

#contenedor_footer{
    @extend %header_main;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 50px;
    justify-content: center; 
    border-top: 1px solid #dadada;
    padding-top: 20px;
    padding-bottom: 20px;
    h5 {
        @include h5;
    }
    
    h6 {
        @include h6; 
        span {
            font-weight: 700;} 
    }
    a {
        @include links;
    }
}



@media screen and (max-width: 678px){

#contenedor_home, #contenedor_servicios, #contenedor_recetas{
    flex-direction: column;
}

#texto_home{
    padding: 20px 15px;
}

img {
    width: 100%;
}

h1{
    font-size: 35px;
    padding-bottom:20px; 
    line-height: 1.1;
}

h2{
    font-size: 28px; 
}

p{
    &.semana{
        padding-bottom:30px;
    }
    &.texto_coccion {
        padding: 0px; 
    }
    &.servicios{
        margin: 0px 5px 40px 15px;
        }
}


#texto_receta1, #texto_receta2, #texto_receta3, div#local {
    padding: 25px 15px 0px 15px;

}

div#contenedor_recetas{
 padding: 0px 0px 80px   
}

#contenedor_footer{
    display: grid;
    grid-template-columns: none;
    gap: 0px;
    justify-content: center;
    }
}


@media screen and (max-width:500px){

    h1{
        padding-bottom: 10px;    
    }
    
    h2{
        font-size: 25px;    
    }
    
    h3{
        padding: 3px 15px;
        max-width: none;
        text-align: left;
        position:static;
    }

    h5, h6{
        text-align: left;
    }

        
    #contenedor_footer{
        margin: 0px 15px;
    }

}