// Color

$color_principal: black;
$color_grispleno: #dadada;

//Tipografía

$tipografia_h1:'Arvo', serif;
$tipografia_h2:'Arvo', serif;
$tipografia_h3:Arial, Helvetica, sans-serif;
$tipografia_p: Georgia, 'Times New Roman', Times, serif;